header {
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #3C4043;
    word-wrap: break-word;
}

.logo-link, .logo-letter {
    text-decoration: none !important;
    letter-spacing: -1px;
    text-align: center;
    border-radius: 2px 0 0 0;
}

.mobile-logo {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    outline: none;
    align-items: center;
    width: 30px;
}

.logo-div {
    letter-spacing: -1px;
    text-align: center;
    font: 22pt Futura, Arial, sans-serif;
    padding: 10px 0 5px 0;
    height: 37px;
    font-smoothing: antialiased;
}

.search-bar-desktop {
    border-radius: 8px 8px 0 0;
    height: 40px !important;
}

.search-div {
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    margin-top: 10px;
}

.search-form {
    height: 39px;
    display: flex;
    width: 100%;
    margin: 0px;
}

.search-input {
    background: none;
    margin: 2px 4px 2px 8px;
    display: block;
    font-size: 16px;
    padding: 0 0 0 8px;
    flex: 1;
    height: 35px;
    outline: none;
    border: none;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}

.tracking-link {
    font-size: large;
    text-align: center;
    margin: 15px;
    display: block;
}

#main>div:focus-within {
    border-radius: 8px;
    box-shadow: 0 0 6px 1px #2375e8;
}

#mobile-header-logo {
    height: 1.95em;
}

.mobile-input-div {
    width: 100%;
}

.mobile-search-bar {
    display: block;
    font-size: 16px;
    padding: 0 0 0 8px;
    padding-right: 0px;
    -webkit-box-flex: 1;
    height: 35px;
    outline: none;
    border: none;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,.00);
    overflow: hidden;
    border: 0px !important;
}

.desktop-header-logo {
    height: 1.65em;
}

.header-autocomplete {
    width: 100%;
    flex: 1
}
